# -*- coding: utf-8 -*-
#
# Copyright (C) 2019 CERN.
#
# CDS Books is free software; you can redistribute it and/or modify it under
# the terms of the MIT License; see LICENSE file for more details.

# To update your MANIFEST.in, use the following commands:
#
#  git init  # if not already done
#  git add -A
#  pipenv run check-manifest -u  # to install run "pipenv install --dev"
#  # please sort the lines in this file after running the commands

# Check manifest will not automatically add these two files:

include .dockerignore
include .editorconfig
include .tx/config
include *.rst
include *.sh
include *.yml
include babel.ini
include docker/haproxy/Dockerfile
include docker/nginx/Dockerfile
include docker/postgres/Dockerfile
include Dockerfile
include Dockerfile.base
include LICENSE
include Pipfile
include Pipfile.lock
include pytest.ini
include scripts/bootstrap
include scripts/console
include scripts/server
include scripts/setup
include scripts/update
include scripts/ldap_sync
include scripts/life_data_setup
include tests
prune docs/_build
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include cds_books *.gitkeep
recursive-include cds_books *.po *.pot *.mo
recursive-include cds_books *.json *.html *.js *.scss
recursive-include cds_books *.png *.jpg *.svg
recursive-include docker *.cfg *.conf *.crt *.ini *.key *.pem *.sh
recursive-include tests *.json
recursive-include tests *.py
recursive-include ui *.config
recursive-include ui *.env
recursive-include ui *.eslintrc
recursive-include ui *.html
recursive-include ui *.ico
recursive-include ui *.jpg
recursive-include ui *.js
recursive-include ui *.json
recursive-include ui *.less
recursive-include ui *.md
recursive-include ui *.overrides
recursive-include ui *.png
recursive-include ui *.prettierignore
recursive-include ui *.prettierrc
recursive-include ui *.txt
recursive-include ui *.variables
recursive-include ui *.svg
recursive-include tests *.html
