[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Babel = ">=2.4.0"
Flask-BabelEx = ">=0.9.3"
uwsgi = ">=2.0"
uwsgitop = ">=0.11"
uwsgi-tools = ">=1.1.1"
lxml = ">=3.5.0,<4.2.6"
invenio-app-ils = {editable = true, version = "==1.0.0a9", extras = [ "lorem" , "elasticsearch7", "postgresql" ]}
invenio-migrator = {editable = true,version = "==1.0.0a10"}
invenio = ">=3.3,<3.4"
cds-books = {editable = true,path = "."}
invenio-records-files = "*"
cds-dojson = {editable = true,git = "https://github.com/CERNDocumentServer/cds-dojson",ref = "books"}
fuzzywuzzy = "*"
python-ldap = ">=3.2.0,<3.3.0"

[dev-packages]
Flask-Debugtoolbar = ">=0.10.1"
Sphinx = ">=3.1.1"
mock = ">=2.0.0"
pytest = ">=4.6.1,<6.0.0"
pytest-invenio = ">=1.3.2,<1.4.0"
pytest-mock = ">=1.6.0"
pytest-random-order = ">=0.5.4"
pytest-runner = ">=3.0.0,<5"
cds-books = {path = "."}

[requires]
python_version = "3.6"

[scripts]
test = "python setup.py test"
build_sphinx = "python setup.py build_sphinx"

[pipenv]
allow_prereleases = true
