# -*- coding: utf-8 -*-
#
# Copyright (C) 2020 CERN.
#
# CDS-ILS is free software; you can redistribute it and/or modify it under
# the terms of the MIT License; see LICENSE file for more details.

alembic==1.4.3
amqp==2.6.1
appnope==0.1.0
arrow==0.16.0
attrs==20.2.0
babel==2.8.0
backcall==0.2.0
base32-lib==1.0.2
billiard==3.6.3.0
bleach==3.2.0
blinker==1.4
cachelib==0.1.1
cds-dojson @ git+https://github.com/CERNDocumentServer/cds-dojson@b18e34ac2623028e75860d17a52aae8d9013e64b
celery==4.4.7
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click-default-group==1.2.2
click==7.1.2
counter-robots==2018.6
cryptography==3.1
decorator==4.4.2
dnspython==2.0.0
dojson==1.4.0
elasticsearch-dsl==7.2.1
elasticsearch==7.9.1
email-validator==1.1.1
flask-admin==1.5.6
flask-alembic==2.0.1
flask-assets==2.0
flask-babelex==0.9.4
flask-breadcrumbs==0.5.1
flask-caching==1.9.0
flask-celeryext==0.3.4
flask-collect==1.2.2
flask-cors==3.0.9
flask-debugtoolbar==0.11.0
flask-kvsession-invenio==0.6.3
flask-limiter==1.1.0
flask-login==0.4.1
flask-mail==0.9.1
flask-menu==0.7.2
flask-oauthlib==0.9.6
flask-principal==0.4.0
flask-security==3.0.0
flask-shell-ipython==0.4.1
flask-sqlalchemy==2.4.4
flask-talisman==0.5.0
flask-webpackext==1.0.2
flask-wtf==0.14.3
flask==1.1.2
fs==0.5.4
ftfy==4.4.3
future==0.18.2
fuzzywuzzy==0.18.0
html5lib==1.1
idna==2.10
importlib-metadata==1.7.0
infinity==1.5
intervals==0.9.0
invenio-access==1.4.1
invenio-accounts==1.3.0
invenio-admin==1.2.1
invenio-app-ils==1.0.0a12
invenio-app==1.2.6
invenio-assets==1.1.5
invenio-base==1.2.3
invenio-cache==1.1.0
invenio-celery==1.2.0
invenio-circulation==1.0.0a27
invenio-config==1.0.3
invenio-db==1.0.5
invenio-files-rest==1.2.0
invenio-formatter==1.0.3
invenio-i18n==1.2.0
invenio-indexer==1.1.2
invenio-jsonschemas==1.1.0
invenio-logging==1.3.0
invenio-mail==1.0.2
invenio-migrator==1.0.0a10
invenio-oauth2server==1.2.0
invenio-oauthclient==1.3.3
invenio-opendefinition==1.0.0a9
invenio-pages==1.0.0a5
invenio-pidrelations==1.0.0a7
invenio-pidstore==1.2.1
invenio-query-parser==0.6.0
invenio-queues==1.0.0a2
invenio-records-files==1.2.1
invenio-records-rest==1.7.2
invenio-records==1.3.2
invenio-rest==1.2.1
invenio-search==1.3.1
invenio-stats==1.0.0a18
invenio-theme==1.1.4
invenio-userprofiles==1.1.1
invenio==3.3.0
ipython-genutils==0.2.0
ipython==7.16.1
isort==5.5.2
itsdangerous==1.1.0
jedi==0.17.2
jinja2==2.11.2
jsmin==2.2.2
jsonpatch==1.26
jsonpointer==2.0
jsonref==0.2
jsonresolver==0.3.1
jsonschema==3.2.0
kombu==4.6.11
limits==1.5.1
lorem==0.1.1
lxml==4.2.5
mako==1.1.3
markupsafe==1.1.1
marshmallow==3.8.0
maxminddb-geolite2==2018.703
maxminddb==2.0.2
msgpack==1.0.0
node-semver==0.1.1
oauthlib==2.1.0
ordereddict==1.1
packaging==20.4
parso==0.7.1
passlib==1.7.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.7
psycopg2-binary==2.8.6
ptyprocess==0.6.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycountry==20.7.3
pycparser==2.20
pygments==2.7.1
pyjwt==1.7.1
pynpm==0.1.2
pyparsing==2.4.7
pypeg2==2.15.2
pyrsistent==0.17.3
python-dateutil==2.8.1
python-editor==1.0.4
python-geoip==1.2
python-ldap==3.2.0
pytz==2020.1
pywebpack==1.1.0
redis==3.5.3
requests-oauthlib==1.1.0
requests==2.24.0
sentry-sdk==0.17.6
simplejson==3.17.2
simplekv==0.14.1
six==1.15.0
speaklater==1.3
sqlalchemy-continuum==1.3.11
sqlalchemy-utils==0.35.0
sqlalchemy==1.3.19
traitlets==4.3.3
ua-parser==0.10.0
uritools==3.0.0
urllib3==1.25.10
uwsgi-tools==1.1.1
uwsgi==2.0.19.1
uwsgitop==0.11
validators==0.18.1
vine==1.3.0
wcwidth==0.2.5
webargs==5.5.3
webassets==2.0
webencodings==0.5.1
werkzeug==1.0.1
wtforms-alchemy==0.17.0
wtforms-components==0.10.4
wtforms==2.3.3
zipp==3.1.0
