{% block footer_plain %}
Check your library loans and requests in your profile page <{{ spa_routes.HOST }}{{ spa_routes.PATHS["profile"] }}>.

Kind regards,
CERN Library
Location: building 52/1-052 on the Meyrin campus
Opening hours:
- Library is accessible 24/7.
- Library desk (loans, returns, enquiries) and Bookshop: Monday - Friday, 8:30 a.m. - 6 p.m.
Email: library.desk@cern.ch
{% endblock %}

{% block footer_html %}
Check your library loans and requests in your <a href="{{ spa_routes.HOST }}{{ spa_routes.PATHS['profile'] }}">profile page</a>.

Kind regards,
CERN Library
Location: building 52/1-052 on the Meyrin campus
Opening hours:
- Library is accessible 24/7.
- Library desk (loans, returns, enquiries) and Bookshop: Monday - Friday, 8:30 a.m. - 6 p.m.
Email: library.desk@cern.ch
{% endblock %}
