{% block title %}
CERN Library: request approved for "{{ request.title|safe }}"
{% endblock %}

{% block body_plain %}
Dear {{ patron.name }},

Your request for "{{ request.title }}" has been approved and will be processed.

The delivery estimate is 1-15 days. You will receive an email as soon as it has arrived.
{% endblock %}


{% block body_html %}
Dear {{ patron.name }}, <br/><br/>

Your request for "{{ request.title }}" <b>has been approved</b> and will be processed. <br/><br/>

The delivery estimate is 1-15 days. You will receive an email as soon as it has arrived.<br/>
{% endblock %}
