{% block title %}
CERN Library: loan started for "{{ document.title|safe }}"
{% endblock %}

{% block body_plain %}
Dear {{ patron.name }},

Your loan for "{{ document.full_title }}" <{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}> has started.

{% if 'delivery' in loan %}
You selected: {{ circulation_delivery_methods[loan.delivery.method] }}
{% endif %}}

The due date is {{ loan.end_date }}.

If you did not already pick up the book at the Library desk, be aware that:
- if you requested a pick up at the Library, your book is ready. You can come to pick it up,
- if you requested an internal mail delivery, your book has been sent. Delivery estimate is 4-5 working days,,
- if you have not yet chosen one of the above options, please let us know your preference, by replying to this email.
{% endblock %}

{% block body_html %}
Dear {{ patron.name }}, <br/><br/>

Your loan for <a href="{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}">"{{ document.full_title }}"</a> has <b>started</b>. <br/><br/>

{% if 'delivery' in loan %}
<br/><br/>
You selected: <b>{{ circulation_delivery_methods[loan.delivery.method] }}</b>
{% endif %}
<br/><br/>
The due date is <b>{{ loan.end_date }}</b>. <br/><br/>

If you did not already pick up the book at the Library desk, be aware that: <br/>
- if you requested a pick up at the Library, your book is ready. You can come to pick it up,<br/>
- if you requested an internal mail delivery, your book has been sent. Delivery estimate is 4-5 working days,<br/>
- if you have not yet chosen one of the above options, please let us know your preference, by replying to this email.<br/>
{% endblock %}
