{% block title %}
CERN Library: loan completed for "{{ document.title|safe }}"
{% endblock %}

{% block body_plain %}
Dear {{ patron.name }},

The book you had on loan: "{{ document.full_title }}" <{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}> has been returned to the CERN Library.
{% endblock %}

{% block body_html %}
Dear {{ patron.name }}, <br/><br/>

The book you had on loan: <a href="{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}">"{{ document.full_title }}"</a> has been <b>returned</b> to the CERN Library.
{% endblock %}
