{% block subject %}
CERN Library: your loan for "{{ document.title }}" is due soon!
{% endblock %}

{% block body_plain %}
Dear {{ patron.name }},

your loan on "{{ document.title }}" <{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}> is due in {{ expiring_in_days }} days.

Do not forget to bring back the borrowed item on time or to extend it online in your profile page.
{% endblock %}

{% block body_html %}
Dear {{ patron.name }},

your loan on <a href="{{ spa_routes.HOST }}{{ spa_routes.PATHS['literature']|format(pid=document.pid) }}">"{{ document.full_title }}"</a> is due in {{ expiring_in_days }} days.

Do not forget to bring back the borrowed item on time or to extend it online in your profile page.
{% endblock %}
